.cards 
{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    max-height: 100vh;
}
  
  .cards img 
{
    margin: 10px;
    border: 3px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    max-width: 23vw;
  
}
  .cards img:hover 
{
    box-shadow: 10px 8px 16px 0 rgba(0, 0, 0, 0.2);
}
  h1
{
 font-size: 60px;
 text-align: center;
}
